
 #JR_PAGE_ANCHOR_0_1 th {font-weight: normal;}
 #JR_PAGE_ANCHOR_0_1 ul {list-style-type: disc; padding-inline-start: 40px; margin: 0px;}
 #JR_PAGE_ANCHOR_0_1 ol {list-style-type: decimal; padding-inline-start: 40px; margin: 0px;}


 a {text-decoration: none}